@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat';
}

html {
scroll-behavior: smooth;
}

:root{
--color1: #fbf7ff;
--color2: #220045;
--color3: #FCFF00;
--color4: #220045;
--color5: #19072B;
--colorDanger:rgb(186, 2, 2);
}
/* *********************/
/* seccion I N I C I O */
/* *********************/

/* Estilos para la sección "inicio" */
#inicio {
    /* background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)) ; */
    background: #000 ;
    background-size: cover;
    background-position: center center;
    padding: 30px 0; /* Ajusta el espacio superior e inferior según tu diseño */
    /* position: relative; Hace que los elementos hijos se posicionen de forma absoluta dentro de este contenedor */
}

.contenido-header {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajusta el espacio izquierdo y derecho según tu diseño */
    position: relative; /* Para que los elementos internos se posicionen de forma absoluta */

}


.contenido-header h1 {
    text-align: center;
    color: #ff5080;
    border-bottom: unset;
    margin: 0; /* Elimina el margen para evitar desplazamientos no deseados */
    position: absolute; /* Posición absoluta para centrar el título */
    left: 50%; /* Lo coloca en el centro horizontalmente */
    transform: translateX(-50%); /* Lo centra completamente */
}

.links {
    position: absolute; /* Posición absoluta para el enlace de inicio */
    display: flex;
    align-items: center; /* Centra verticalmente los enlaces de navegación */
    margin: 0; /* Ajusta el margen a cero para evitar espacios innecesarios */
    left: 20px; /* Alinea el enlace a la izquierda */

}

#links a {
    text-decoration: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    transition: .5s;
    text-align: center;

}


.redes a:hover {
    color: #ff5080;

}

#inicio .contenido header .redes {
    font-size: 1.5rem;
    display: flex;
    text-decoration: none;
    outline: none;
    align-items: center; /* Centra verticalmente las redes sociales */
    margin: 0; /* Ajusta el margen a cero para evitar espacios innecesarios */
    position: absolute; /* Posición absoluta para las redes sociales */
    right: 20px; /* Alinea las redes sociales a la derecha */
}

.redes a {
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-left: 10px;
    transition: .5s;


}





/* *********************/
/* seccion CONTENIDO PROYECTO */
/* *********************/

#contenido-proyecto{
margin-top: 3rem;
}      

/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

footer p{
    text-align: center;
}


/* 
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/


@media screen and (max-width: 300px) {
    h1 {
        font-size: 18px; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
        margin: 0; /* Elimina el margen para evitar desplazamientos no deseados */
        position: absolute; /* Posición absoluta para centrar el título */
        left: 50%; /* Lo coloca en el centro horizontalmente */
        transform: translateX(-50%); /* Lo centra completamente */
    }
    .redes {
        display: none;
    }
    nav {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        margin: 0; /* Elimina el margen para evitar desplazamientos no deseados */
        position: absolute; /* Posición absoluta para centrar el título */
        left: 50%; /* Lo coloca en el centro horizontalmente */
        transform: translateX(-50%); /* Lo centra completamente */
    }
    .redes {
        display: none;
    }
    nav {
        display: unset;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
 
}

